<template>
  <div class="bg">
    <svg class="bg-svg">
      <radialGradient id="radial-gradient" cx="50%" cy="50%">
        <stop offset="0%" stop-color="#c9f4f1" />
        <stop offset="100%" stop-color="#76ccc7" />
      </radialGradient>
      <rect fill="url(#radial-gradient)" width="100%" height="100%" />
    </svg>
  </div>
</template>

<style lang="scss">
.bg {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg:after {
  content: '';
  background: url(~assets/texture.png) repeat;
  background-size: 50px 50px;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
}

.bg-svg {
  height: 100%;
  width: 100%;
  // При маленьких размерах элемента (например, на мобильных устройствах) слишком очевидным становится градиент.
  // Поэтому зададим минимальные размеры.
  min-height: 640px;
  min-width: 640px;
}
</style>
