<template>
  <button type="button" :class="class_" @click="$emit('click')">
    <slot />
  </button>
</template>

<script>
export default {
  props: {
    fullWidth: {
      default: false,
      type: Boolean
    }
  },
  computed: {
    class_() {
      return ['button', { 'button-fullwidth': this.fullWidth }]
    }
  }
}
</script>

<style lang="scss">
@import '~/assets/helpers';

.button {
  @include fluid-text(16px, 24px, $maxWidth);
  font-family: $fontFamily;
  background: $yellow;
  border: none;
  border-radius: 0.5em;
  color: $buttonFontColor;
  padding: 1.5em;
  font-weight: 600;
}
.button-fullwidth {
  width: 100%;
}
</style>
