<template>
  <div class="header"><slot /></div>
</template>

<style lang="scss">
@import '~/assets/helpers';

.header {
  color: $mainColor;
  font-weight: 300;
  margin-bottom: 1em;
  @include fluid-text(26px, 66px, $maxWidth);
}
</style>
