<template>
  <OzScreensScreen name="price">
    <OzHeader><b>Лучшие</b> цены у нас</OzHeader>
    <table class="screen-price-table">
      <thead>
        <tr>
          <th class="screen-price-table-header">Услуга</th>
          <th
            class="screen-price-table-header screen-price-table-header-action"
          >
            Акция!
          </th>
          <th class="screen-price-table-header">Стоимость</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="row in rows" :key="row.text" class="screen-price-table-row">
          <td class="screen-price-table-cell screen-price-table-cell-text">
            {{ row.text }}
          </td>
          <td class="screen-price-table-cell screen-price-table-cell-action">
            {{ row.action }} ₽
          </td>
          <td class="screen-price-table-cell screen-price-table-cell-sum">
            {{ row.sum }} ₽
          </td>
        </tr>
      </tbody>
    </table>
  </OzScreensScreen>
</template>

<script>
import OzHeader from '~/components/OzHeader'
import OzScreensScreen from '~/components/OzScreensScreen'
export default {
  components: {
    OzHeader,
    OzScreensScreen
  },
  data() {
    return {
      rows: [
        {
          text: 'Домашнее отбеливание ZOOM (слепки, каппа для отбеливания)',
          action: '6 010',
          sum: '6 700'
        },
        {
          text: 'Осветление Philips Zoom Quick Pro',
          action: '7 730',
          sum: '8 500'
        },
        {
          text: 'Отбеливание Opalescence boost',
          action: '9 140',
          sum: '10 500'
        },
        {
          text: 'Отбеливание ZOOM 3 (1 челюсть)',
          action: '10 820',
          sum: '11 900'
        },
        {
          text: 'Отбеливание ZOOM 3 (2 челюсти)',
          action: '18 275',
          sum: '20 100'
        },
        {
          text: 'Отбеливание ZOOM 4 (1 челюсть)',
          action: '10 820',
          sum: '11 900'
        },
        {
          text: 'Отбеливание ZOOM 4 (2 челюсти)',
          action: '18 275',
          sum: '20 100'
        },
        {
          text: 'Профессиональная чистка зубов Clinpro',
          action: '5 365',
          sum: '5 900'
        }
      ]
    }
  }
}
</script>

<style lang="scss">
@import '~/assets/helpers';

.screen-price {
  @include mobile {
    margin-top: 50px;
  }
}
.screen-price-table {
  @include fluid-text(14px, 37px, $maxWidth);
  margin: 0 auto;
  width: 50%;
  border-spacing: 0;
  @include mobile {
    width: auto;
    max-width: 500px;
  }
}
.screen-price-table-header {
  padding: 0.4em;
}
.screen-price-table-cell {
  padding: 0.4em;
  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
  }
}
.screen-price-table-cell-text {
  text-align: left;
  font-weight: 700;
}
.screen-price-table-header-action {
  background: $yellow;
  border-top-left-radius: 0.2em;
  border-top-right-radius: 0.2em;
}
.screen-price-table-cell-action {
  background: $yellow;
  white-space: nowrap;
  font-weight: 700;
  .screen-price-table-row:last-child > & {
    border-bottom-left-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
  }
}
.screen-price-table-cell-sum {
  white-space: nowrap;
}
</style>
