<template>
  <div :class="class_" :style="style">
    <slot />
  </div>
</template>

<script>
export default {
  props: {
    name: {
      required: true,
      type: String
    }
  },
  computed: {
    class_() {
      return ['screen', `screen-${this.name}`]
    },
    style() {
      return { position: this.position }
    },
    position() {
      return this.$store.state.entering ? 'absolute' : 'static'
    }
  }
}
</script>

<style lang="scss">
.screen {
  width: 100%;
  flex-shrink: 0;
  text-align: center;
}
</style>
