<template>
  <OzScreensScreen name="main">
    <OzHeader>Скидка до <b>1800 рублей</b> на отбеливание зубов</OzHeader>
    <div class="screen-main-hint">
      {{ hintText }}
    </div>
    <OzButton class="screen-main-button" @click="onClick"
      >Бесплатная консультация</OzButton
    >
    <div class="screen-main-features">
      <!--todo сделать компоненты-->
      <div class="screen-main-features-blocks">
        <div class="screen-main-features-blocks-block">
          <div class="screen-main-features-blocks-block-img">
            <!--:src="'...'" nuxt не поддерживает-->
            <img src="~assets/screen-main-images/1.png" />
          </div>
          Абсолютная безопасность процедуры
        </div>
        <div class="screen-main-features-blocks-block">
          <div class="screen-main-features-blocks-block-img">
            <img src="~assets/screen-main-images/2.png" />
          </div>
          Безупречная белоснежная улыбка
        </div>
        <div class="screen-main-features-blocks-block">
          <div class="screen-main-features-blocks-block-img">
            <img src="~assets/screen-main-images/3.png" />
          </div>
          Долгосрочный результат
        </div>
      </div>
      <div class="screen-main-features-graphics"></div>
    </div>
  </OzScreensScreen>
</template>

<script>
import OzButton from '~/components/OzButton'
import OzHeader from '~/components/OzHeader'
import OzScreensScreen from '~/components/OzScreensScreen'

export default {
  components: {
    OzButton,
    OzHeader,
    OzScreensScreen
  },
  data() {
    return {
      hintText:
        'Профессиональное отбеливание зубов в клинике «Все свои!» — это лучший способ сделать свою улыбку ослепительно белой.'
    }
  },
  methods: {
    onClick() {
      if (this.$store.state.mobile) {
        // todo
      } else this.$store.commit('SET_ACTIVE_SCREEN', 'form')
    }
  }
}
</script>

<style lang="scss">
@import '~assets/helpers';

.screen-main-hint {
  @include fluid-text(16px, 26px, $maxWidth);
  margin: 2.5em auto;
  line-height: 2;
  padding: 1em;
  position: relative;
  color: $mainColor;
  width: 50%;
  @include mobile {
    width: auto;
    max-width: 500px;
  }
}
.screen-main-hint:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: $white;
  z-index: -1;
  opacity: 0.8;
  border-radius: 0.4em;
}
.screen-main-button {
  margin-bottom: 3em;
}
.screen-main-features {
  width: 80%;
  margin: 0 auto 2em;
  display: flex;
  @include mobile {
    width: auto;
  }
}
.screen-main-features-blocks {
  width: 50%;
  display: flex;
  padding-right: 3%;
  justify-content: space-between;
  box-sizing: border-box;
  @include mobile {
    width: 100%;
    padding-right: 0;
  }
}
.screen-main-features-blocks-block {
  @include fluid-text(11px, 18px, $maxWidth);
  width: 31%;
  color: $mainColor;
  line-height: 1.7;
  position: relative;
  padding: 5% 4% 7%;
  box-sizing: border-box;
  text-align: center;
}
.screen-main-features-blocks-block:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background: $white;
  z-index: -1;
  border-radius: 0.5em;
  transform: translateZ(0);
}
.screen-main-features-blocks-block-img {
  width: 65%;
  padding-top: 65%;
  position: relative;
  margin: 0 auto;
  border-radius: 50%;
  background: $white;
  margin-bottom: 20%;
}
.screen-main-features-blocks-block-img > img {
  position: absolute;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.screen-main-features-graphics {
  position: relative;
  width: 50%;
  background: url(~assets/screen-main-images/teeth.png) 50% no-repeat;
  background-size: contain;
  @include mobile {
    display: none;
  }
}
.screen-main-features-graphics:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  width: 1000%;
  height: 1000%;
  background: url(~assets/screen-main-images/light.png) 0 no-repeat;
  background-size: auto 17%;
  z-index: -1;
}
</style>
