<template>
  <div ref="screens" class="screens" :style="style">
    <transition
      name="screens-screen"
      @before-enter="beforeEnter"
      @after-enter="afterEnter"
    >
      <component :is="activeScreenComponent" />
    </transition>
    <!--Отрендерим за пределами окна остальные экраны, чтобы у всех экранов была одинаковая высота и при переключении экрана состояние прокрутки (есть/нет) не менялось.-->
    <component
      :is="component"
      v-for="component in restComponents"
      :key="component"
    />
  </div>
</template>

<script>
import OzScreensScreenMain from '~/components/OzScreensScreenMain'
import OzScreensScreenPrice from '~/components/OzScreensScreenPrice'
import OzScreensScreenForm from '~/components/OzScreensScreenForm'

export default {
  components: {
    OzScreensScreenMain,
    OzScreensScreenPrice,
    OzScreensScreenForm
  },
  computed: {
    activeScreenComponent() {
      return this.getComponentName(this.$store.state.activeScreen)
    },
    restComponents() {
      return this.$store.state.screens
        .filter(
          (screen) =>
            screen !== this.$store.state.activeScreen &&
            !this.$store.state.entering
        )
        .map((screen) => this.getComponentName(screen))
    },
    height() {
      // Перед появлением экран абсолютно позиционируется, поэтому установим фиксированную высоту контейнера.
      return this.$store.state.entering
        ? `${this.$refs.screens.getBoundingClientRect().height}px`
        : null
    },
    style() {
      return this.height ? { height: this.height } : {}
    }
  },
  watch: {
    '$store.state.entering'(entering) {
      if (entering) window.scrollTo({ top: 0, behavior: 'smooth' })
    },
    '$store.state.mobile'(mobile) {
      this.addOrRemoveHandlers(mobile)
      if (mobile) this.$store.commit('SET_ACTIVE_SCREEN', 'main')
    }
  },
  mounted() {
    this.updateMobile()
    window.addEventListener('resize', this.updateMobile)
  },
  methods: {
    updateMobile() {
      this.$store.commit('SET_MOBILE', this.isMobile())
    },
    isMobile() {
      return window.matchMedia('(max-width: 767px)').matches
    },
    addOrRemoveHandlers(mobile) {
      const method = `${mobile ? 'remove' : 'add'}EventListener`
      window[method]('wheel', this.handler, { passive: false })
      window[method]('keydown', this.handler)
    },
    beforeEnter() {
      this.$store.commit('SET_ENTERING', true)
    },
    afterEnter() {
      this.$store.commit('SET_ENTERING', false)
    },
    getComponentName(screen) {
      return `OzScreensScreen${screen[0].toUpperCase() + screen.slice(1)}`
    },
    getWindowHeight() {
      // todo проверить в целевых браузерах, возможно какие-то проверки устарели и можно упростить
      return 'innerHeight' in window
        ? window.innerHeight
        : document.documentElement.offsetHeight
    },
    getScrollTop() {
      // todo проверить в целевых браузерах, возможно какие-то проверки устарели и можно упростить
      const doc = document.documentElement
      return (window.pageYOffset || doc.scrollTop) - (doc.clientTop || 0)
    },
    hasScrollbar() {
      // todo проверить в целевых браузерах, возможно какие-то проверки устарели и можно упростить
      return window.innerWidth > document.documentElement.clientWidth
    },
    isAtTop() {
      const currentScroll = this.getScrollTop()
      return currentScroll === 0
    },
    isAtBottom() {
      const currentScroll = this.getScrollTop()
      const bodyHeight = document.body.offsetHeight
      const windowHeight = this.getWindowHeight()
      return currentScroll === bodyHeight - windowHeight
    },
    handleKeydown(e) {
      let direction
      if (e.code === 'ArrowLeft') {
        direction = 'prev'
      } else if (e.code === 'ArrowRight') {
        direction = 'next'
      } else if (
        ['ArrowDown', 'PageDown'].includes(e.code) &&
        this.isAtBottom()
      ) {
        direction = 'next'
      } else if (['ArrowUp', 'PageUp'].includes(e.code) && this.isAtTop()) {
        direction = 'prev'
      }

      if (direction) {
        // UX: Если не отменить, то браузер отменит прокрутку с помощью window.scrollTo (см. выше) и страница не прокрутится
        // к началу.
        e.preventDefault()
      }
      return direction
    },
    handleWheel(e) {
      let direction
      if (e.deltaY > 0 && this.isAtBottom()) {
        direction = 'next'
      } else if (e.deltaY < 0 && this.isAtTop()) {
        direction = 'prev'
      }

      if (direction) {
        // UX: Если не отменить, то после начала прокрутки к началу страницы с помощью window.scrollTo (см. выше)
        // браузер на короткое время прокрутит страницу вниз и создается twitch-эффект.
        e.preventDefault()
      }
      return direction
    },
    handler(e) {
      if (
        this.hasScrollbar() &&
        !this.isAtTop() &&
        this.$store.state.entering
      ) {
        // UX: Не переключаем экран при данных условиях.
        e.preventDefault()
        return
      }
      let direction
      if (e.type === 'wheel') {
        direction = this.handleWheel(e)
      } else if (e.type === 'keydown') {
        direction = this.handleKeydown(e)
      }
      if (direction) {
        const action = `SET_${direction.toUpperCase()}_SCREEN`
        this.$store.dispatch(action)
      }
    }
  }
}
</script>

<style lang="scss">
@import '~/assets/helpers';

.screens {
  overflow: hidden;
  flex-grow: 1;
  position: relative;
  width: 100%;
  display: flex;
  @include mobile {
    display: block;
  }
}
.screens-screen-enter-active,
.screens-screen-leave-active {
  transition: opacity 0.5s;
}

.screens-screen-enter,
.screens-screen-leave-to {
  opacity: 0;
}
</style>
