<template>
  <OzScreensScreen name="form">
    <OzHeader>Получите <b>скидку</b> на отбеливание зубов</OzHeader>
    <form class="screen-form-form">
      <div class="screen-form-form-title">
        Не упустите шанс получить белоснежную улыбку
      </div>
      <input
        ref="input"
        type="text"
        placeholder="Ваш номер телефона"
        class="screen-form-form-input"
      />
      <OzButton class="screen-form-form-button" :full-width="true"
        >Отправить</OzButton
      >
    </form>
  </OzScreensScreen>
</template>

<script>
import OzButton from '~/components/OzButton'
import OzHeader from '~/components/OzHeader'
import OzScreensScreen from '~/components/OzScreensScreen'

export default {
  components: {
    OzHeader,
    OzScreensScreen,
    OzButton
  }
}
</script>

<style lang="scss">
@import '~assets/helpers';

.screen-form {
  @include mobile {
    margin-top: 50px;
  }
}
.screen-form-form {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  padding: 2%;
  box-sizing: border-box;
  width: 33%;
  @include mobile {
    width: auto;
    max-width: 500px;
    padding: 20px;
    z-index: 0;
  }
}
.screen-form-form:before {
  content: '';
  position: absolute;
  background: $white;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}
.screen-form-form-title {
  color: $mainColor;
  font-weight: 700;
  line-height: 1.5;
  @include fluid-text(14px, 37px, $maxWidth);
}
.screen-form-form-input {
  @include fluid-text(12px, 24px, $maxWidth);
  width: 100%;
  border: none;
  border-bottom: 1px solid #d3e3e2;
  text-align: center;
  font-family: $fontFamily;
  background: none;
  padding: 1em;
  box-sizing: border-box;
  margin: 1em 0 3em;
  outline: none;
}
.screen-form-form-input::placeholder {
  color: $mainColor;
  opacity: 0.6;
}
</style>
