<template>
  <div class="top-controls">
    <a
      href=""
      class="top-controls-arrow top-controls-arrow-left"
      @click.prevent="$store.dispatch('SET_PREV_SCREEN')"
    ></a>
    <a
      v-for="screen in screens"
      :key="screen"
      href=""
      class="top-controls-teeth"
      :class="{
        'top-controls-teeth-active': screen === $store.state.activeScreen
      }"
      @click.prevent="$store.commit('SET_ACTIVE_SCREEN', screen)"
    ></a>
    <a
      href=""
      class="top-controls-arrow top-controls-arrow-right"
      @click.prevent="$store.dispatch('SET_NEXT_SCREEN')"
    ></a>
  </div>
</template>

<script>
export default {
  computed: {
    screens() {
      return this.$store.state.screens
    }
  }
}
</script>

<style lang="scss">
@import '~/assets/helpers';

.top-controls {
  display: flex;
  justify-content: center;
  width: (100% / 3);
  @include mobile {
    // todo Сделать прокрутку к нужному блоку. Пока - просто скрываем.
    display: none;
  }
}
.top-controls-arrow {
  width: 1em;
  height: 1em;
  display: block;
  background: url(~assets/top-images/arrow.svg) no-repeat;
  background-size: contain;
  opacity: 0.6;
}
.top-controls-arrow-left {
  margin-right: 1em;
}
.top-controls-arrow-right {
  transform: rotate(180deg);
  margin-left: 1em;
}
.top-controls-teeth {
  width: 1em;
  height: 1em;
  display: block;
  background: url(~assets/top-images/teeth.svg) no-repeat;
  background-size: contain;
  margin: 0 0.3em;
}
.top-controls-teeth-active {
  background-image: url(~assets/top-images/active.svg);
}
</style>
