<template>
  <div class="top-logo">
    <a href="" class="top-logo-inner">
      <img class="top-logo-inner-img" src="~assets/top-images/logo.png" />
    </a>
  </div>
</template>

<style lang="scss">
@import '~/assets/helpers';

.top-logo {
  width: (100% / 3);
  @include mobile {
    width: 45%;
  }
}
.top-logo-inner {
  display: inline-block;
  position: relative;
  padding: 0.5em 1em 0.5em 1em;
  box-sizing: border-box;
}
.top-logo-inner-img {
  display: block;
  height: 1.5em;
}
.top-logo-inner:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: $white;
  z-index: -1;
  border-top-right-radius: 20% 50%;
  border-bottom-right-radius: 20% 50%;
  @media (min-width: 2561px) {
    border-top-left-radius: 20% 50%;
    border-bottom-left-radius: 20% 50%;
  }
  @include mobile {
    border-top-left-radius: 20% 50%;
    border-bottom-left-radius: 20% 50%;
  }
}
</style>
