<template>
  <div class="top-phone">
    <a :href="`tel:${$store.state.phoneSimple}`" class="top-phone-link"
      ><small>{{ $store.state.phone.code }}</small>
      {{ $store.state.phone.number }}</a
    >
  </div>
</template>

<style lang="scss">
@import '~/assets/helpers';

.top-phone {
  text-align: right;
  font-size: 1em;
  font-weight: 700;
  padding-right: 3em;
  box-sizing: border-box;
  width: (100% / 3);
  @include mobile {
    width: 45%;
    padding-right: 0;
  }
}
.top-phone-link {
  text-decoration: none;
  color: $mainColor;
}
</style>
