<template>
  <div class="top">
    <OzTopLogo />
    <OzTopControls />
    <OzTopPhone />
  </div>
</template>

<script>
import OzTopLogo from '~/components/OzTopLogo'
import OzTopControls from '~/components/OzTopControls'
import OzTopPhone from '~/components/OzTopPhone'

export default {
  components: {
    OzTopLogo,
    OzTopControls,
    OzTopPhone
  }
}
</script>

<style lang="scss">
@import '~/assets/helpers';

.top {
  @include fluid-text(15px, 37px, $maxWidth);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0;
}
</style>
