@mixin fluid-text($lfs, $rfs, $rw) {
  & {
    @if $lfs == $rfs {
      font-size: $lfs;
    } @else {
      $lw: $lfs * ($rw / $rfs);
      $m: ($rfs - $lfs) / ($rw - $lw);
      $b: $lfs - $m * $lw;
      font-size: $lfs;
      @media (min-width: $lw) {
        // y = mx + b
        font-size: calc(#{$m} * 100vw + #{$b});
      }
      @media (min-width: $rw) {
        font-size: $rfs;
      }
    }
  }
}

$mainColor: #2c5754;
$yellow: #ffcf4d;
$buttonFontColor: #523c00;
$white: #fff;
$fontFamily: 'Comfortaa', cursive;
$maxWidth: 2560px;

@mixin mobile() {
  @media (max-width: 767px) {
    @content;
  }
}
@mixin large() {
  @media (min-width: $maxWidth + 1px) {
    @content
  }
}
