<template>
  <div class="container">
    <OzBg />
    <div class="page">
      <OzTop />
      <OzScreens />
    </div>
  </div>
</template>

<script>
import OzBg from '~/components/OzBg'
import OzTop from '~/components/OzTop'
import OzScreens from '~/components/OzScreens'

export default {
  components: {
    OzBg,
    OzTop,
    OzScreens
  }
}
</script>

<style lang="scss">
@import '~/assets/helpers';

html {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  flex-grow: 1;
  margin: 0;
  font-family: 'Comfortaa', cursive;
  color: $mainColor;
}

#__nuxt {
  height: 100%;
}

#__layout {
  height: 100%;
}

.container {
  height: 100%;
}

.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: $maxWidth;
  margin: 0 auto;
  @include mobile {
    padding: 0 20px 20px;
  }
  @include large {
    padding: 0 20px;
  }
}
</style>
